p {
    background-color: chartreuse;
}

.special {
    background-color: blue;
}

a.special {
    background-color: red;
}

#jednoznacny {
    padding: 100px;
    background-color: chartreuse;
}

a:hover{
    transform: translateY(-30deg);
}

p::first-letter{
    
}