body {
    background-image: url("https://sadhost.neocities.org/images/tiles/redskulls.jpg");
    cursor: url("https://raw.githubusercontent.com/trlyisn/web/main/cursor-cake.gif"), auto;
    color: white;
    font-family: monospace, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
  
    list-style-type:none; /* this removes the bulletpoints */
    /* there is an annoying left padding in the ul element by default */
    padding-left:0; /* this removes it */
  }
  
  li a {
    display:inline-block; /* this allows us to add margin to each item 
                             so there's space for it to rotate */
    margin:10px;
  }
  
  /* this makes stuff happen when you hover! */
  li a:hover {
    transform:rotate(-15deg); /* play with this 15deg value, works w/ negatives too! */
    /* more CSS transform options: https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
  }

#container {
    border: palevioletred 7px groove;
    background-color: lightslategray;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    background-color: hotpink;
    color: blue;
    text-align: center;
}

#content {
    padding: 10px;
    clear: both;
}

#navbar {
    width: 180px;
    float: left;
}

#navbar ul{
    list-style-type: none;
    padding: 0;
}

#navbar .selected {
    font-weight: bold;
}

#main {
    width: 600px;
    float: right;
}

#footer {
    clear: both;
    background-color: #999999;
    text-align: right;
}